* {
    box-sizing: border-box;
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
  }

  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  .header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 134px;
    margin: 0 auto;
    background-color: #edf2ec;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .content {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .nav {
    display: flex;
    gap: 30px;
  }

  .nav li {
    list-style: none;
  }

  .nav li a {
    color: black;
    text-decoration: none;
    transition: 0.6s;
  }

  .nav li a:hover {
    color: #e06733;
  }

  .main-background {
    background-color: #edf2ec;
  }

  .main-content {
    display: flex;
    align-items: center;
    gap: 200px;
  }

  .main__text h1 {
    font-size: 42px;
  }

  .main__text h1 span {
    color: green;
  }

  .main__text button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
  }

  .main__text button{
    width: 158px;
    height: 44px;
    top: 394px;
    left: 782px;
    border-radius: 10px;
    border: 2px;
    border: 2px solid #E06733;
    transition: 0.6s;

  }

  .main__text button:hover{
    background-color: #E06733 ;
    transition: 0.6s;
  }

  .about_us{
    display: flex;
    align-items: center;
    width: 1440px;
    height: 666px;
    background-color: #fff;
  }

  .main_info{
    display: flex;
    flex-direction: row-reverse;
    gap: 150px;
    margin: 0 auto;
    max-width: 1222px;
    width: 100%;
    height: 479px;
  }

h2{
  width: 463px;
  height: 102px;
  font-family: Inika;
  font-size: 40px;
}

.color-orange{
  color: #E06733;
  font-family: Inika;
}

.professional-gardeners{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.professional-gardeners p{
  width: 605px;
  height: 208px;
  font-family: Inter;
  font-size: 20px;
  color: #636060;
}

.service-projects{
  margin: 0 auto;
  width: 1440px;
  height: 1300px;
  background-color: #EDF2EC;
}

.services-wrap{
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1440px;
  height: 224px;
}

.services-nav{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 130px;
  margin: 0 auto;
  max-width: 1222px;
  width: 100%;
  height: 94px;
}

h3{
  width: 306px;
  height: 94px;
  font-family: Inika;
  font-size: 29px;
  color: #499A18;
}

.btns-nav{
  display: flex;
  align-items: center;
  gap: 30px;
}

.btns-nav button{
  width: 161px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px;
  color: #E06733;
  border: 1px solid #E06733;
  background-color: #EDF2EC;
  cursor: pointer;
}

.btns-nav button:hover{
  background-color: #ff8e5e;
  transition: 0.4s;
}

.images-service{
  margin: 0 auto;
  max-width: 1222px;
  height: 955px;

}

.service-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.service-items img{
  width: 330px;
  height: 450px;
}

.prices-wrap{
  display: flex;
  align-items:center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 560px;
  background-color: #fff;
}

.prices{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1222px;
  width: 100%;
  height: 405px;
}

.left-side{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

h4{
  font-family: Inter;
  font-size: 40px;
}

.left-side ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 20px;
  width: 332px;
  height: 282.01px;
  border-radius: 20px;
  border: 1px solid #E3E1D5
}

.left-side ul li{
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 50px;
  border-radius: 20px;
  background-color: #EDF2EC;

}


.left-side ul li details{
  display: flex;
  flex-shrink: 0;
  max-width: 200px;
  width: 100%;
  height: 18px;
}

.left-side ul li details p{
  background-color: #EDF2EC;
  width: 250px;
  height: 154px;
  border-radius: 20px;

}

.left-side ul li details summary{
  display: flex;
  justify-content: left;
  align-items: center;
}

summary::-webkit-details-marker{
  display: none;
}


h5{
  width: 452px;
  height: 103px;
  font-family: Inter;
  font-size: 40px;
}

h5 span{
  color:#499A18;
}

.right-side img{
  order: 2;
  width: 152px;
  height: 174.99px;
}

.right-side button{
  cursor: pointer;
  font-family: Inter;
  font-size: 20px;
  color:#E06733;
  width: 162px;
  max-height: 50px;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #E06733
}

.pre-header{
  display: flex;
  align-items: end;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 550px;
  background-color: #EDF2EC;
}

.communications{
  display: flex;
  gap: 150px;
  margin: 0 auto;
  width: 1222px;
  height: 490px;
}

h6{
  font-family: Inika;
  font-size: 35px;
  color: #499A18;
}

.pre-header section{
  display: flex;

  width: 450px;
  height: 50px;
}


.select_div_wrapper{
  display: flex;
  align-items: end;
  width: 440px;
  height: 550px;
}

.select_div{
  display: flex;
  width: 400px;
  height: 450px;
}
  select{
    width: 400px;
    height: 50px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    background-color:#EDF2EC;
    border: 0.5px solid #FFFFFF
  }
    option p{
      font-family: Inter;
      font-size: 20px;
      color: #a9a9a9;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 130px;
}

.footer_position{
  margin: o auto;
  display: flex;
  justify-content: space-between;
  width: 1222px;
  height: 50px;
}

.rights{
  display: flex;
  gap: 30px;
}